<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_farmpolandedition">

    <application
        tools:replace="android:icon,android:theme,android:allowBackup,label"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tractor"
        android:label="E-Farm Poland"
        android:roundIcon="@drawable/tractor"
        android:supportsRtl="true"
        android:theme="@style/Theme.EFarmPolandEdition"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBIGDNJ85TKRTSpjInV_sQgs_UJosXWqk0"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value=""
                />
        </activity>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".twojeUprawy"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Activity_updateAccount"
            android:screenOrientation="portrait">
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>